<div id="main-container" class="row-fluid">
  <div id="list-api-div" class="col-sm-3 col-md-3">
    <div class="panel-group" id="accordion">
      <% if @has_missing_definitions || @has_obsolete_definitions %>
        <ul class="well nav nav-list">
          <li class="nav-header">Information</li>
          <% if @has_missing_definitions %>
            <%= render 'information_warning_li',
              :text => 'Missing Definitions Detected',
              :path => missing_definitions_routes_path
            %>
          <% end %>
          <% if @has_obsolete_definitions %>
            <%= render 'information_warning_li',
              :text => 'Obsolete Definitions Detected',
              :path => obsolete_definitions_routes_path
            %>
          <% end %>
        </ul>
      <% end %>
      <% @routes.each_with_index do |(prefix, endpoints), index| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseMenu<%=index%>"><%= prefix %></a>
            </h4>
          </div>

          <div id="collapseMenu<%=index%>" class="panel-collapse collapse in">
            <div class='panel-body'>
              <table class='table'>
                <tbody>
                  <% endpoints.each do |endpoint| %>
                    <tr>
                      <td>
                        <span class='label label-info'>
                          <%= endpoint.verb %>
                        </span>
                        <a href="<%= @service_presenter.html_directory %>/<%= endpoint.url %>">
                          <%= endpoint.path %>
                        </a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="show-api-div" class="col-sm-9 col-md-9">
    <div class="div-container">
      <div class="alert alert-block alert-info">
        <h3>Select an API endpoint on the left to get started. :)</h3>
      </div>
    </div>
  </div>
</div>
